<!DOCTYPE html>
<html>
<head>
	<title>Data Science</title>
</head>
<body>
<br>
<br>
<br>
<br>
<center>  
 <form action="predict" id="textform" method="post/get">
 Interest rate:<input type="text" name="text">
 <input  type="submit" value="predict">
</form>
<br>
<br>
<br>
<br>
 <form action="retrain" id="textform2" method="post">
 Interest rate:<input type="text" name="text2">
  Home Price: <input type="text" name="text3">
 <input  type="submit" value="retrain model">
</form>
 <form action="dropsession" id="textform3" method="post">
 <input  type="submit" value="logout">
</form>
</center>
</body>
</html>