<!DOCTYPE html>
<html>
<head>
	<title>Data Science</title>
</head>
<body>
<br>
<br>
<br>
<br>
<center>  
<h1>Register</h1>
 <form action=/add id="textform2" method='POST'>
  Name:<input type="text" name="username">
  Password: <input type="text" name="pass">
 <input  type="submit" value="Register">
</form>



<h1>Sign In</h1>
 <form id="textform" method='POST'>
  Name:<input type="text" name="user">
  Password: <input type="text" name="password">
 <input  type="submit" value="sign in">
</form>



</center>
</body>
</html>